:root {
    /* YUJI MAI */
    --yellow-high-contrast: #f5cd79;
    --yellow-low-contrast: #f7d794;
    --blue-high-contrast: #546de5;
    --blue-low-contrast: #778beb;
    --purple-low-contrast: #786fa6;
    --purple-high-contrast: #574b90;
    --pink-low-contrast: #ea8685;
    --pink-high-contrast: #e66767;
}

.main-page-start {
    height: 100vh;
    width: 100vw;
    display: flex;
    position: relative;
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@keyframes open-animation-one-top {
    0% {
        transform: translateY(0vh);
    } 100% {
        transform: translatey(-200vh);
    }
}

@keyframes open-animation-one-bottom {
    0% {
        transform: translateY(0vh);
    } 100% {
        transform: translatey(200vh);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    } 100% {
        transform: rotate(-45deg);
    }
}

@keyframes text-animation-top-to-bottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    } 100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes text-animation-bottom-to-top {
    0% {
        transform: translateY(100px);
        opacity: 0;
    } 100% {
        transform: translateY(0px);
        opacity: 1;
    }
}